extends ../layout

block content
	h1.
		Player ID #{player._id}
	form(action='/players/#{player._id}/edit', method='post', name='updateplayer', enctype='application/x-www-form-urlencoded')
		p Username:
			input#inputUsername(type='text', value='#{player.username}', name='Username')
		p W:
			input#inputWins(type='number', value='#{player.wins}', name='wins')
		p L:
			input#inputLosses(type='number', value='#{player.losses}', name='losses')
		p
			input(type='hidden', value='PUT', name='_method')
		p
			button#btnSubmit(type='submit').
				Update